doctype html
html(ng-app='Solar')
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js')
    script(src='http://code.jquery.com/jquery-1.11.0.min.js' type='text/javascript' charset='utf-8')
    script(src='/javascripts/solar.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
